/*------------------------------------------------------------------

Data Management Support Stylesheet
Project:	Data Management Support Pack

[Table of contents]

+ Content / #dm-content
	- Left column / #side-left
		- Top column / #side-top
			- Role section / #side-role
			- When section  / #side-when
		- Bottom column / #side-bot 
	- Right column / #side-right
		
-------------------------------------------------------------------*/



#dm-content{
	/*background: url(../images/backgroundTemplate.png);*/
	min-height: 510px;
} 


#dm-content h3{
	margin: 0px;
	
	font-size: 27px;
	padding-left: 6px;
	color: #222222;
}
#dm-content h2{ 
	font-size: 26px;
	color: #416a30;
	font-weight: 300;
}


#side-left{
	width: 690px;
	float: left;
}
#side-right{
	float: left;
	width: 240px;
	height: 450px;
}

#side-top{
    height: 140px;  
}

#side-bot{
	 
}

#side-role{
	float: left; 
	width: 245px;
	height: 140px;
}
#side-when{
	float: right;
	width: 445px;
	height: 140px;
}

#side-role > label {
    width: 74px;
	
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    vertical-align: top;
    color: #222;
} 

.when > label > div{
	font-size: 14px;
	font-weight: 400;
	padding: 14px 4px;
	float: left;
	color: #FFF;
	background: #A5A8A8;
	width: 131px;
	text-align: center;
} 
.what > label > div{
	font-size: 13px;
	font-weight: 400;
	padding: 14px 10px;
	float: left;
	color: #FFF;
	background: #47939C;
	width: 218px;
	text-align: left;
} 
.input_hidden {
    position: absolute;
    left: -9999px;
}

.selected,input:disabled{
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
} 

#dm-content label {
    display: inline-block;
    cursor: pointer;
} 
#dm-content label:hover {
	
	position: relative;
    background-color: #efefef;
}  

#step1-icons, #step3-form,#step4-form  {
	padding: 34px;
	margin: 0px 25px 25px 25px;
	width: 535px;
	height: 100px;
	background: #F1F1F1;
}
#step3-form, #step4-form {
	padding: 14px; 
	width: 585px;
	height: auto; 
}
#step1 a:hover,a:visited,a:focus{
	color: #FFF;
	text-decoration: none;
}
#step1-icons img{
	margin-left: 55px;
}
#step1-icons span{
	margin-left: 58px;
}

 #step2, #step3, #step4, #step5 { 
 	display: none;
	
}

#result {
	font-size: 12px;
}

#guidelines { 
	color: #666;
	font-size: 13px;
	margin: 0px 25px 25px 0px; 
	
}
#guidelines ul {
	padding: 0px;
	margin: 0px; 
	
}

#guidelines ul li {
	padding: 3px;
	margin: 0px 0px 3px 0px; 
	background: #F1F1F1;
	list-style: none;
}

.level {
	float: right;
	border-radius: 8px;
	padding: 0px 7px;
	font-size: 13px;
	text-align: center;
	width: 95px
	
}

.left{
	float: left;
}
.right {
	float: right;
}
.Very {
    background-color: #c0504d;
	 
    color: #fff;
}
.Important {
	background-color: #da9694;
    color: #fff;
}
.Useful {
	background-color: #e6b8b7;
    color: #fff;
	
}
.Optional{
	background-color: #fff;
    color: #222;
}

input[type=checkbox].css-checkbox {
	display:none;
}

input[type=checkbox].css-checkbox + label.css-label {
	padding-left:31px;
	height: 18px; 
	line-height: 14px;
	background-repeat:no-repeat;
	background-position: 0 1px;
	font-size:13px;
	font-weight: 500;
	vertical-align:middle;
	cursor:pointer;

}

input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -16px;
}
label.css-label {
	background-image:url(../images/csscheckbox.png); 
	
}	

input[type=checkbox].css-checkbox-regions {
	display:none;
}

input[type=checkbox].css-checkbox-regions + label.css-label-regions {
	padding-left:31px;
	height: 21px; 
	line-height: 14px;
	background-repeat:no-repeat;
	background-position: 0 1px;
	font-size:13px;
	font-weight: 500;
	vertical-align:middle;
	cursor:pointer;

}

input[type=checkbox].css-checkbox-regions:checked + label.css-label-regions {
	background-position: 0 -21px;
}
label.css-label-regions {
	background-image:url(../images/csscheckbox2.png); 
	
}


a.download {
	position: relative;
	background: #2BA6CB;
	color: #FFF;
	padding: 4px 8px;
	text-decoration: none;
	cursor: pointer;
}
a.downloadLink {
	color: #6D6D6D;
	text-decoration: none;
	cursor: pointer;
}

#side-form1 {
	margin: 4px;
	width: 100%;
	float: left;
}
#side-form2 {
	margin: 4px;
	width: 100%;
	float: right;
}
#side-form3 {
clear: both;
}

#step4 input[type="text"] {
	padding: 0px;
}

.icon-table, .icon-flow {
	color: #FFF;
	padding: 4px 13px 6px 32px;
	margin-right: 5px;
	vertical-align: top;
}

.icon-table {
	background: url(../images/table.png) no-repeat #2BA6CB;
}
.icon-flow {
	background: url(../images/flow.png) no-repeat #2BA6CB;
}

/* these styles are for the demo, but are not required for the plugin */
		.zoom {
			display:inline-block;
			position: relative;
		}
		
		/* magnifying glass icon */
		.zoom:after {
			content:'';
			display:block; 
			width:33px; 
			height:33px; 
			position:absolute; 
			top:0;
			right:0;
		
		}

		.zoom img {
			display: block;
		}

		.zoom img::selection { background-color: transparent; }

#ajax-loader {
	display: block;
	float: right;
	padding-right: 35px;
}		