/*------------------------------------------------------------------

Data Management Support Stylesheet
Project:	Data Management Support Pack

[Table of contents]

+ Content / #dm-content
	- Left column / #side-left
		- Top column / #side-top
			- Role section / #side-role
			- When section  / #side-when
		- Bottom column / #side-bot 
	- Right column / #side-right
		
-------------------------------------------------------------------*/



#dm-content{
	/*background: url(../images/backgroundTemplate.png);*/
	min-height: 460px;
} 


#dm-content h3{
	margin: 0px;
	
	font-size: 27px;
	padding-left: 6px;
	color: #222222;
}
#dm-content h2{ 
	font-size: 26px;
	color: #416a30;
	font-weight: 300;
}


#side-left{
	float: left;
}
#side-right{
	float: left;
	width: 240px;
	height: 450px;
}

#side-top{
    height: 140px;  
}

#side-bot{
	 
}

#side-role{
	float: left; 
	width: 245px;
	height: 140px;
}
#side-when{
	float: right;
	width: 445px;
	height: 140px;
}

#side-role > label {
    width: 74px;
	
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    vertical-align: top;
    color: #222;
} 

.when > label > div{
	font-size: 14px;
	font-weight: 400;
	padding: 14px 4px;
	float: left;
	color: #FFF;
	background: #A5A8A8;
	width: 131px;
	text-align: center;
} 
.what > label > div{
	font-size: 13px;
	font-weight: 400;
	padding: 14px 10px;
	float: left;
	color: #FFF;
	background: #47939C;
	width: 218px;
	text-align: left;
} 
.input_hidden {
    position: absolute;
    left: -9999px;
}

.selected {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
} 
#dm-content label {
    display: inline-block;
    cursor: pointer;
} 
#dm-content label:hover {
	top: 1px;
	left: 1px;
	position: relative;
    background-color: #efefef;
}  

 #step1-icons {
	padding: 34px;
	margin: 0px 25px 25px 25px;
	width: 535px;
	height: 100px;
	background: #F1F1F1;
}

#step1-icons img{
	margin-left: 55px;
}

 #step2 {
 	display: none;
	
}

#guidelines { 
	margin: 0px 25px 25px 0px; 
	
}
#guidelines ul {
	padding: 0px;
	margin: 0px; 
	
}

#guidelines ul li {
	padding: 3px;
	margin: 0px 0px 3px 0px; 
	background: #F1F1F1;
	list-style: none;
}

.level {
	float: right;
	border-radius: 8px;
	padding: 0px 7px;
	font-size: 13px;
	text-align: center;
	width: 95px
	
}

.Very {
    background-color: #c0504d;
	 
    color: #fff;
}
.Important {
	background-color: #da9694;
    color: #fff;
}
.Useful {
	background-color: #e6b8b7;
    color: #fff;
	
}
.Optional{
	background-color: #fff;
    color: #222;
}
		